<head>
        <link href="css/article.css" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <%- include('../partials/navbar.ejs', {active: "Gallery"}) %>
    <div class="container main">
        <br>
        <div class="w3-center w3-animate-opacity2">
        <center><h3><%= article.title%></h3></center>
        <!-- HOY ALLAN KANI NA PART I ADD-->
        <center><h5><%= article.name%>
        <a href="articles/index/delete/<%= article.id%>"><i class="fa fa-trash" style="margin-left: 7px; color:#474747; cursor: pointer;"></i></a>
        <a href="articles/index/edit/<%= article.id%>"><i class="fa fa-edit" style="margin-left: 7px; color:#474747; cursor: pointer; display: inline-block;"></i></a></h5></center> 
                
        <!-- UNTIL HERE -->		
    
    
        <div class="animated animatedFadeInUp fadeInUp">
            <img src="images/sampleuaa2.jpg" class="wrapper"/>
        <div>
            <p style="font-size: 10px;">Submitted: <%= article.date%></p>
        </div>
        <br>
    
    
    
        <!-- HOY ALLAN KANI NA PART I ADD-->		
        <div class="box">
            <p class="text" name="title"><%= article.body%></p>
        </div>
        </div> 
    </div>
    <!-- UNTIL THIS PART-->
    
    
    
        <div class="animated animatedFadeInUp fadeInUp">
            <hr class="line">
        </div>
            <div class="container5">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="center-div">
                          <h6 class="question-text">What did you think of this article?</h6>
                            <div class="top-emoji-divLeft">
                              <img alt="" class="top-emoji" src="images/like.png" onclick="increment(1)" />
                              <div class="emoji-count">
                                <p id="emoji-1">0</p>
                              </div>
                            </div>
                               <div class="top-emoji-divCenter">
                              <img alt="" class="top-emoji" src="images/dislike.png" onclick="increment(2)" />
                              <div class="emoji-count">
                                <p id="emoji-2">0</p>
                              </div>
                            </div>
                            <div class="top-emoji-divRight">
                              <img alt="" class="top-emoji" src="images/clap.png" onclick="increment(3)" />
                              <div class="emoji-count">
                                <p id="emoji-3">0</p>
                              </div>
                            </div>
                            <div class="top-emoji-divRight2">
                              <img alt="" class="top-emoji" src="images/laughing.png" onclick="increment(4)" />
                              <div class="emoji-count">
                                <p id="emoji-4">0</p>
                              </div>
                            </div>
                      <div class="clear"></div>
                </div>
            </div>
        </div>
        <br>
            <a class="fb-share-button" data-href="https://www.facebook.com/pg/USCAllAccess/photos/?tab=album&amp;album_id=2341736229251599&amp;ref=page_internal" data-layout="button_count" data-size="small"></a>
            <a href="https://twitter.com/intent/tweet?button_hashtag=#UAA&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="I'm reading this RN!" data-url="https://twitter.com/USCAllAccess/status/1162389081680011264" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <div class="fb-comments" data-href="http://localhost:3000/articles/article" data-width="" data-numposts="5"></div>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/samplearticle.js"></script>
    <script type="text/javascript" src="js/swal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type=text/javascript>
        function increment(id) {
        var divName = "emoji-" + id;
        var count = document.getElementById(divName).innerHTML;
        count = parseInt(count);
        count = count + 1;
        document.getElementById(divName).innerHTML = count;  
    }
        </script>